<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension id="amosworkbenchproject.app" point="org.blueberry.osgi.applications">
    <application>
      <run class="QmitkAmosWorkbenchApplication"/>
    </application>
  </extension>

  <extension point="org.blueberry.ui.perspectives">
    <perspective id="amosworkbenchproject.AmosWorkbenchPerspective"
      name="AmosWorkbench Perspective"
      class="QmitkAmosWorkbenchPerspective"
      icon="resources/icon_research.xpm" />
  </extension>

</plugin>
